/* You can add global styles to this file, and also import other style files */
*{
    bordee:0px;
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
ul{
    margin-top: 10px;
    margin-left: 20px;
}